/*
***********************************
NAVBAR
***********************************
*/

.nav-height-fixed{
    height: 90px;
}

nav{
    height: 90px;
}

.bg-nav{
    background-color: #2c3e50;
}

.navbar-brand{
    font-weight: 600;
}

.navbar-dark .navbar-toggler{
color: rgba(255,255,255,.55);
border-color: rgba(255,255,255,0.8); /* Regola di bootstrap ritoccata*/
}

/*
***********************************
HEADER / HERO 
***********************************
*/

header {
    background-color: #1abc9c;
}

.hero{
    color: white;
}

.hero-img-container{
    width: 300px;
}

.hero img{
    height: 100%;
}

.hero .hero-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid white;
    border-radius: 5px;
}

/*
***********************************
MAIN 
***********************************
*/

/* PORTFOLIO */
.main-title .main-star{
    color: #2c3e50;
}

.main-title .main-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid #2c3e50;
    border-radius: 5px;
}

.main-content .rounded-3 {
    border-radius: 0.6rem!important; /* SOVRASCRIVO LA PROPRIETA' */
}

/* ABOUT */

.main-about{
    background-color: #1abc9c;
}

.main-about .row{
    color: white;
}

.main-about .main-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid white;
    border-radius: 5px;
}

.main-about .btn-outline-secondary {
    color: white;
    border-color: white;
}

.main-about .btn {
    font-size: 1.5rem;
}

/* CONTACT ME */

.main-contact-me .main-star{
    color: #2c3e50;
}

.main-contact-me .main-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid #2c3e50;
    border-radius: 5px;
}

.form-control{ /* SOVRASCRIVO LA PROPRIETA' */
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.main-contact-me .btn-primary { /* SOVRASCRIVO LA PROPRIETA' */
    background-color: #1abc9c;
    border-color: #1abc9c;
    font-size: 1.2rem;
}



/*
***********************************
FOOTER 
***********************************
*/

/* LOCATION */

.footer-location-bg{
    background-color: #3a546d;
}

.footer-location{
    color: white;
}

.footer-location a{
    text-decoration: none;
    color: #1abc9c;
}

.footer-location .nested-row i{
    height: 18px;
    width: 18px;
    display: flex;
    border: 1px solid white;
}

.footer-location .nested-row a{
    color: white;
}

/* COPYRIGHT */

footer .copyright-bg{
    background-color: #2c3e50;
    color: white;
}

/*
***********************************
END
***********************************
*/
