/*
***********************************
NAVBAR
***********************************
*/

.nav-height-fixed{
    height: 90px;
}

nav{
    height: 90px;
}

.bg-nav{
    background-color: #2c3e50;
}

.navbar-brand{
    font-weight: 600;
}

.navbar-dark .navbar-toggler{
color: rgba(255,255,255,.55);
border-color: rgba(255,255,255,0.8); /* Regola di bootstrap ritoccata*/
}

/*
***********************************
HEADER / HERO 
***********************************
*/

header {
    background-color: #1abc9c;
}

.hero{
    color: white;
}

.hero-img-container{
    width: 300px;
}

.hero img{
    height: 100%;
}

.hero .hero-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid white;
    border-radius: 5px;
}

/*
***********************************
MAIN 
***********************************
*/

/* PORTFOLIO */
.main-title .main-star{
    color: #2c3e50;
}

.main-title .main-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid #2c3e50;
    border-radius: 5px;
}

.main-content .rounded-3 {
    border-radius: 0.6rem!important; /* SOVRASCRIVO LA PROPRIETA' */
}

/* ABOUT*/

.main-about{
    background-color: #1abc9c;
}

.main-about .main-star{
    color: #ffffff;
}

.main-about .main-star-line{
    height: 1px;
    width: 20%;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/*
***********************************
FOOTER 
***********************************
*/


footer .out-row{
    height: 4   00px;
    border: 1px solid black;
}

footer .nested-row div{
    border: 1px solid red;
    height: 80px;
}

footer .copyright .row{
    height: 80px;
}